{# Cookie Manager Async Placeholder #}
{# This container will be populated by JavaScript after page load to avoid CDN caching #}
<div id="cookiemng-panel-container" 
     data-endpoint="/actions/cookiemng/panel/get-panel" 
     data-site-handle="{{ siteHandle }}" 
     data-deactivated="{{ deactivated ? '1' : '0' }}"
     style="display: none;">
</div>
<div id="cookiemng-consent-container"></div>
